html,
body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    justify-content: center;
    flex-direction:  column;
    align-items: center;
}
#wave{
    height: 120px;
}

p{
    font-size: 0.9rem;
}
h1{
    justify-content: center;
    font-size: 1.5rem;
    
}

h2 {
    font-size: 5rem;
    margin-top: 0;
}

.responsive{
    width:100%;
    max-width: 450px;
    height:auto;
}

